* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* body {
    padding: 30px;
} */

p,
h4 {
    font-size: 20px;
    font-weight: normal;
}


section {
    margin-bottom: 18px;
}

#template {
    font-family: sans-serif;
    width: 8.27in;
}



ul {
    margin-left: 20px;
    font-size: 20px;
}

#template h1 {
    text-align: center;
    font-size: 33px;
    margin-bottom: 30px;
}

.row {
    width: 20%;
    border: 1px solid black;
}

.row div {
    border-bottom: 1px solid #ccc;
}




.name {
    font-size: 28px;
    margin: 7px 0;
}

.sec h3 {
    background-color: #dddddd;
    font-size: 24px;
    padding: 3px 5px;
    margin: 5px 0 7px 0;
}

hr {
    margin: 3px 0;
}



/* table */

.table {
    display: grid;
    grid-template-columns: 0.4fr 1.1fr 1.9fr 1fr 0.6fr;
    border: 1px solid #ccc;
}

.table div div {
    padding: 3px;
    text-align: center;
    border: 1px solid #ccc;
}

.table h4 {
    font-weight: bold;
}

/* table */



.footer h4 {
    font-weight: bold;
}

.footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    margin-top: 30px;
}

#personalInfo div div {
    width: 200px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

#personalInfo div {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

#personalInfo {
    width: 60%;
}





#header {
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid pink; */
}

#header .image {
    border: 1px solid #000;
    margin-right: 3px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}